$success: #1aaf3d;
$dm-success: #106a25;
$error: #f51d05;
$grey-text: #898989;

// dark mode colors
$dm-text: #adadad;

// default color scheme
// $primary: #ffd263;
// $secondary: #ef476f;
// $accents: #007BFF;

// vice
$primary: #66ebeb;
$secondary: #e006bb;
$accents: #7c85da;
$dm-secondary: #fb88e8;
