$success: #1aaf3d;
$grey-text: #898989;

// dark mode colors
$dm-text: #adadad;

// default color scheme
// $primary: #ffd263;
// $secondary: #ef476f;
// $accents: #007BFF;


// summer color scheme
// $primary: #75dddd;
// $secondary: #cf17b0;
// $accents: #9297c4;

// vice
$primary: #66ebeb;
$secondary: #e006bb;
$dm-secondary: #fb74e5;
$accents: #7c85da;