$success: #1aaf3d;
$grey-text: #898989;

// default color scheme
// $primary: #ffd263;
// $secondary: #ef476f;
// $accents: #007BFF;


// summer color scheme
$primary: #ffb17a;
$secondary: #4f4789;
$accents: #739e82;